<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <a href="{{ url_for('index') }}">Home</a>
        <h1>Login</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alerts">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('login') }}" method="post">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="password-container input-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
                <button type="button" class="toggle-password">&#128065;</button>
            </div>
            <button type="submit">Sign In</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up NOW</a></p>
    </div>
</body>
</html>
